{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "strict": 0,
    "no-undef": "off",
    "no-undefined": "off",
    "no-undef-init": "off",
    "no-param-reassign": [
      "warn",
      {
        "props": true
      }
    ],
    "no-unused-vars": "warn"
  }
}
