<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout Manager</title>

	<link rel="stylesheet" type="text/css" href="test.css" />
	<link rel="stylesheet" type="text/css" href="src/css/goldenlayout-base.css" />
	<link rel="stylesheet" type="text/css" href="src/css/goldenlayout-dark-theme.css" />
	<script type="text/javascript" src="lib/jquery.js"></script>
	<script type="text/javascript">
		window.lm = {{toJSON directories}};
	</script>
	{{#each files}}
	<script type="text/javascript" src="src/js{{this}}"></script>
	{{/each}}	

	<script type="text/javascript" src="start.js"></script>
	
</head>
<body>
	<div id="wrapper">
		<ul id="menuContainer">
			<li><a href="index.html">Standard Layout</a></li>
			<li><a href="index.html?layout=responsive">Responsive Layout</a></li>
			<li><a href="index.html?layout=tab-dropdown">Tab Dropdown Layout</a></li>
		</ul>
		<div id="layoutContainer"></div>
	</div>
</body>
</html>