#container{
	position: absolute;
	left: 400px;
	top: 100px;
	width: 1000px;
	height: 700px;
	background: green;
}

#componentMenu{
	left: 20px;
	top: 100px;
	position: absolute;
	width: 320px;
}

#componentMenu li{
	padding: 5px;
	margin-bottom: 2px;
	background: #ccc;
}

.testComponent *{
	font: 12px/16px Arial, sans-serif;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.messageCounter{
	position: absolute;
	right: -5px;
	top: -5px;
	background: red;
	color:#fff;
	font-weight: bold;
	z-index: 4;
	padding: 2px 5px;
	border-radius: 50px;
}

.testComponent{
	position: relative;
}

.testComponent .content {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1;
}

.testComponent .sizeIndicator{
	position: absolute;
/*	background: #eee;
	border: 1px dashed #aaa;*/
	top: 5px;
	left: 5px;
	z-index: 0;
}

html, body{
	height: 100%;
	margin: 0;
}

#containerA,
#containerB{
	width: 40%;
	height: 80%;
	margin: 5%;
	float: left;
	background: #fff;
}

body{
	background: #000;
}

#testContainer{
	position: absolute;
	width: 1000px;
	height: 800px;
	left: 100px;
	top: 100px;
}

body, html{
	height: 100%;
}

#wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}

#wrapper > *{
	float: left;
	height: 100%;
}

.layoutA, .layoutB{
	width: 45%;
	background: green;
}

.controls{
	width: 10%;
}

.controls > div{
	height: 50%;
}

.controls .desc p{
	padding: 30px;
	color: #fff;
	font: 13px/16px Arial, sans-serif;
	font-style: italic;
}

.controls pre{
	color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
}

table.test{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	-webkit-user-select:none;
}
table.test td{
	border: 1px solid #333;
	background: #222;
	cursor: pointer;
}

table.test td:hover{
	background: #444;
}

table.test td.active{
	background: orange;
}