<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.support_library %>"></script>
    <script type="text/javascript" src="lib/tracing.js"></script>
    <script type="text/javascript" src="my_traces.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="layoutContainer"></div>
    </div>
    <script type="text/javascript" src="js/goldenlayout.js"></script>
</body>

</html>